.student_div {
  height: 290px;
  width: 500px;
  float: right;
  padding-top: 15px;
}
.student_list {
  padding-top: 15px;
}

.center_header {
  height: 50px;
  padding-top: 10px;
  text-align: left;
  border-bottom: 1px solid;
  background: #fdb12e;
}

.center_sub_header {
  text-align: left;
  margin-left: 115px;
}

.center_add_sub_header {
  text-align: left;
  padding-left: 110px;
}

.form_inner_div {
  display: flex;
  float: right;
  width: 300px;
  height: 30px;
}

.form_outer_div {
  float: left;
  position: absolute;
  width: 400px;
}

.save_btn {
  float: right;
  margin: 10px 0 0 200px;
}

.select_outerDiv {
  width: 300px;
  height: 40px;
  float: right;
  margin-top: 5px;
}

.input_field{
  float: right !important;
}

.dropdown_field{
  margin-left: 8px;
}

.female {
  float: right;
  background-color: #fc8dcc !important;
}

.male {
  float: right;
  background-color: #6a9ae8 !important;
}

.student_dialog{
  height: 220px;
}

.dialog_select{
  margin-right: 20px;
}

.list_div {
  height: 210px;
  position: static;
  overflow-x: hidden;
}

.form_div_edit {
  float: right;
  width: 350px;
  height: 50px;
  margin-right: 20px;
}

.edit_input_group{
  float: right;
}
.edit_input{
  width: 200px;
}


.chart_div {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid;
  height: 440px;
  background-color: #d1f74a;
}

.chart_header {
  text-align: center;
  margin-left: 105px;
  width: 100px;
  height: 30px;
  position: absolute;
}

.chart {
  width: 910px !important;
  height: 350px !important;
  position: fixed !important;
  left: 110px !important;
  top: 400px !important;
}

.left_dropdown {
  float: left;
  margin: 0 5px 0 5px;
}

.right_dropdown {
  float: left;
}

.dropdown_main_div {
  height: 50px;
  width: 465px;
  margin: auto;
  text-align: center;
}

.button_icon {
  margin: 3px 5px 0 0 !important;
}

.pdf_btn {
  position: fixed;
  z-index: 1;
  left: 80%;
  margin-top: 5px;
  font-size: 14px;
}
