.room_div {
  white-space: pre;
  border-top: 1px solid;
  overflow: auto;
}

.form_label {
  float: left;
  margin: 0 5px 0 5px;
  vertical-align: bottom;
  line-height: 32px;
}

.form_div {
  margin-top: 20px;
}
