.main_div {
  margin-top: 100px;
  border-top: 1px solid;
}

.room_div {
  white-space: pre;
  border-top: 1px solid;
  overflow: auto;
}

.form_label {
  float: left;
  margin: 0 5px 0 5px;
  vertical-align: bottom;
  line-height: 32px;
}

.form_div {
  margin-top: 20px;
}

.form_save_btn {
  margin: 20px 0 0 30px;
}

.dropdown_div {
  display: inline-block;
  margin-left: 15px;
}

.dropdown_main_div {
  text-align: center;
}

.form_label_edit {
  float: left;
  margin: 0 5px 0 5px;
  vertical-align: bottom;
  line-height: 36px;
}

.form_input {
  float: right;
}

.form_div_edit {
  margin-right: 40px;
  width: 170px;
  display: inline-block;
}
