.center_header {
  text-align: center;
}

.div_wrapper {
  width: 100%;
}

.table_wrapper {
  height: 400px;
}

.dropdown_div {
  display: inline-block;
  margin: 0 0 15px 15px;
}

.dropdown_main_div {
  text-align: center;
}
