.container {
  position: absolute;
  text-align: center;
}

.div_wrapper {
  white-space: 800px;
}

.center_header {
  float: right;
  width: 50%;
  margin-right: 200px;
}

input[type="text"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  width: 200px;
}

.form_inner_div {
  white-space: nowrap;
  float: right;
}

.form_outer_div {
  height: 350px;
  width: 500px;
  padding: 50px 20px 0 0;
}

.save_btn {
  float: right;
  margin: 10px 0 0 200px;
}