.student_div {
  white-space: 800px;
  height: 350px;
  width: 50%;
  float: right;
  padding: 0 20px 0 0;
}

.center_header {
  text-align: center;
  border-bottom: 1px solid;
}

.center_sub_header {
  text-align: center;
}

.form_inner_div {
  white-space: nowrap;
  float: right;
  margin: 10px 0 0 0;
}

.form_outer_div {
  float: right;
  height: 350px;
  width: 500px;
}

.save_btn {
  float: right;
  margin: 10px 0 0 200px;
}

.form_label {
  float: left;
  margin-right: 5px;
  vertical-align: bottom;
  line-height: 32px;
}

.select_dropDown {
  width: 300px;
  float: right;
}

.list_btn {
  display: inline-flex;
  align-items: flex-start;
  height: 40px;
}

.badge_number {
  float: right;
}

.list_div {
  height: 230px;
  overflow: scroll;
}
