body {
  padding: 10px;
}

.lang_btn_div {
  float: right;
  margin-right: 13%;
}

.heading {
  margin-left: 240px;
}

.main_div {
  text-align: center;
  height: 800px;
  margin-bottom: 100px;
}

.description {
  width: 50%;
  margin: auto;
}

.btn_div {
  margin: 30px auto 110px auto;
  width: 50%;
}

.left_btn {
  width: 25%;
  float: left;
}
.right_btn {
  width: 25%;
  float: right;
}

.img_main_div {
  width: 75%;
  margin: 120px auto;
}

.feature_div {
  width: 50%;
  text-align: left;
  padding-top: 10px;
}

.img_inner_div {
  margin: 50px auto;
}

img {
  width: 450px;
  height: 350px;
}

.left_img_div {
  margin: auto;
  float: left;
}

.right_img_div {
  margin: auto;
  float: right;
}

footer {
  margin: auto;
  position: relative;
  width: 285px;
  bottom: 0;
}

.btn_color {
  background-color: #1dbb90;
  border-color: #1dbb90;
}

.btn_caption {
  font-size: 10px;
  text-align: center;
  width: 200px;
  display: inline-block;
}

.date_div {
  width: 15%;
  margin: 10px auto 0 auto;
}

.footer_span {
  height: 50px;
}

.footer_link {
  float: right;
}

.download_img {
  height: 30px;
  width: 175px;
}
