.dropdown_div {
  display: inline-block;
  margin: 0 0 15px 15px;
}

.dropdown_main_div {
  text-align: center;
}

.center_header {
  text-align: center;
  margin-bottom: 5px;
}

.chart {
  width: 1000px !important;
  height: 600px !important;
  position: fixed !important;
  left: 100px !important;
  top: 100px !important;
}

/* canvas {
  width: 100% !important;
  height: auto !important;
} */
