/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~normalize.css/normalize.css';
@import '~react-table-6/react-table.css';
@import 'bootstrap.css';

body {
  position: relative;
  color: black;
  height: 100vh;
  background-color: #e4e5e0;
  font-family: Century Schoolbook, Times New Roman, serif;
  overflow-y: hidden;
}





